---
import Layout from '../layouts/Layout.astro';

const user = Astro.locals.user;
if (!user) {
	return Astro.redirect("/login");
}

const username = user.username;
---

<Layout title="Welcome to Astro.">
	<main>
		<p>Your login is: {username}</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
