<html lang="en">
  <body>
    <h1>monorepo-auth/landing/login</h1>
    <form method="post" action="/api/login">
      <label for="username">Username</label>
      <input id="username" name="username" />
      <label for="password">Password</label>
      <input id="password" name="password" />
      <button>Continue</button>
    </form>
  </body>
</html>
